.products{
    .info{
        display: flex;
        align-items: center;
        

        button{
            padding: 5px;
            cursor: pointer;
            margin-left: 20px;
        }
    }
}